@use 'variables' as *
.banner-principal-decorativo
  &-1
    position: absolute
    top: 190%
    right: 195%
    width: 70px
    animation: float1 2s ease-in-out infinite alternate
    @media (max-width: 1300px)
      display: none !important
  &-2
    position: absolute
    top: 0%
    right: 95%
    width: 100px
    animation: float1 3.5s ease-in-out infinite alternate
  &-3
    position: absolute
    top: 80%
    right: 10%
    width: 70px
    animation: float1 3.5s ease-in-out infinite alternate
  &-4
    position: absolute
    top: -60%
    right: 0%
    width: 90px
    animation: float1 3.5s ease-in-out infinite alternate

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 37% !important
  @media screen and (max-width: $bp-max-md)
    width: 95% !important

.banner-principal__row .banner-principal__img
  width: 600px !important
  @media screen and (max-width: $bp-max-xl)
    width:400px !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.svg') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.svg') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: black

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #0B4E04 !important

.cen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto

.banner-interno__titulo h1, .banner-interno__titulo h2, .banner-interno__titulo h3, .banner-interno__titulo h4, .banner-interno__titulo h5, .banner-interno__titulo h6 
  color: black

.banner-interno__titulo__icono i 
  color: black


.bg1
  background-color:#E6EDE5

.bg2
  background-color: #FFF0C9

.bg3
  background-color:#FFF5EA
  border-radius: 20px

.bg4
  background-color:#FFF5EA

.bg5
  background-color: #FFFAED

.bg6
  background-color: #FCD7AC

.bg7
  background-color: #F89C30
  border-radius: 18px 0px 0px 18px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 18px 0px 0px 18px
.bg8
  background-color: #FECD4C
  border-radius: 0px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 18px 18px 0px
.bg9
  background-color: #0B4E04
  border-radius: 0px 18px 18px 0px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 20px

.bg10
  background-color: #457840
  border-radius: 18px 0px 0px 18px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 18px 0px 0px 18px
.bg11
  background-color: #F89C30
  border-radius: 0px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 18px 18px 0px
.bg12
  background-color: #FECD4C
  border-radius: 0px 18px 18px 0px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 20px







.bloque-texto-g.color-acento-contenido 
  background-color: #9DB89A

.tit
  background-color: #F89C30
  border-radius: 50px 
  width: fit-content
  padding: 8px 20px 8px 65px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 15px
.tit img
  width: 63px
  height: 63px
  position: absolute
  top: 50%
  left: -18px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
  @media only screen and (max-width: 767px)
    width: 55px
    height: 55px

.bloque-texto-g.color-secundario 
  background-color: #FCD7AC

.tarjeta-audio.color-acento-botones .tarjeta-audio__texto 
  color: $black
  font-style: normal !important
.tarjeta-audio.color-acento-botones
  border-color: 2px solid #04D1D4
.tarjeta-audio 
  border: 3px solid
  padding: 1.65em 0.7em 0.7em 1.5em
  border-radius: 30px
  min-height: 100px
.audio.color-acento-contenido .audio__btn, .tarjeta-audio.color-acento-contenido .audio__btn, .tarjeta-dialogo.color-acento-contenido .audio__btn 
  background-color: #36DBE6
.tarjeta-audio.color-acento-botones .tarjeta-audio__input input[type=range] 
  background: #F6E9E5

.tarjeta--slyder.b1
  background: url('../assets/curso/tema2/fd.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  transition: all 0.3s ease
  cursor: pointer
.slyder-f__btn i 
  font-size: 4rem
  color: #04D1D4

.color-acento-botones
  .tabs-a__tab
    padding: 12px 13px
    font-size: 16px  
    white-space: normal 
    line-height: 1.5
    min-height: 40px 
  @media (min-width: 1200px) 
    .col-xl-3
      flex: 0 0 auto
      width: 27%
    .col-xl-9
      flex: 0 0 auto
      width: 73%
.tabs-a__tab:last-child 
  margin-bottom: 0 !important
  background-color: #F5EED7
  color: black !important
.color-a
  background-color: #E5FBFB
  border-radius: 10px
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #04D1D4 !important
  color: black !important
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
  background-color: #04D1D4 !important
.color-acento-botones .tabs-a__tab 
  padding: 9px 15px
  font-size: 16px















//////////////////////////////////////TABLAS////////////////////////////////////

.tabla-a thead 
  border-top: 6px solid #0B4E04
  color: black
  background-color: #E6EDE5
.tabla-a th
  border-color: #E6EDE5
.tabla-a
  table
    width: 100%
    th, td
      vertical-align: top
      text-align: left
      //border: none
  table th
    padding: 13px 30px
    text-align: left
  table td 
    padding: 13px 30px

.tabla-a.tab1
  tbody
    td:first-child
      font-weight: bold
    //td
      border-left: 2.5px solid #AFAFAF
    //td:first-child
      border-left: none
  th:nth-child(1)
    width: 40%
  th:nth-child(2)
    width: 60%

.tabla-a.tab2
  tbody
    td:first-child
      font-weight: bold
    //td
      border-left: 2.5px solid #AFAFAF
    //td:first-child
      border-left: none
  th:nth-child(1)
    width: 30%
  th:nth-child(2)
    width: 30%
  th:nth-child(3)
    width: 40%

.tabla-a.tab3
  tbody
    td:first-child
      font-weight: bold
    //td
      border-left: 2.5px solid #AFAFAF
    //td:first-child
      border-left: none
  th:nth-child(1)
    width: 30%
  th:nth-child(2)
    width: 70%